<!-- {% extends "entropage/base.html" %}
{% block title %}{{ _('policy') }} - {% endblock %}
{% block content %}

<div class="others">
    <div class="sidebar">
        <dl>
            <dt class="title">
                <a href="#about">{{ _('about') }}</a>
            </dt>
            <dd class="link">
                <a href="#search">{{_('LeakZero Search')}}</a>
            </dd>
            <dd class="link">
                <a href="#cookie">{{_('Zero Cookie')}}</a>
            </dd>
            <dd class="link">
                <a href="#privacy">{{_('More Privacy')}}</a>
            </dd>
            <dd class="link">
                <a href="#contact">{{_('Contact us')}}</a>
            </dd>
            <dd class="link">
                <a href="#faq">{{_('FAQ')}}</a>
            </dd>

            <dt class="title">
                <a href="#policy">{{ _('policy') }}</a>
            </dt>

            <dt class="title">
                <a href="#privacy">{{ _('privacy') }}</a>
            </dt>
        </dl>
    </div>

    <div class="others-container">

        <h1 class="title">{{ _('about') }}</h1>

        <div id="search" class="side-title">
            <h2>{{_('LeakZero Search')}}</h2>

            <p>{{_('LeakZero search is a meta search engine which puts our users privacy first, therefore does not track users. LeakZero Search is based on ')}}<a href="https://github.com/asciimoo/searx">Searx</a>。
            </p>
        </div>

        <div id="cookie" class="side-title">
            <h2>{{_('Zero Cookie')}}</h2>

            <p>{{_("Cookie is a technique which is usually used to track users' information by websites, you can visit ")}}<a href="https://cookiepedia.co.uk/about-cookiepedia">Cookiepedia</a>{{_("to have a look. As you can see in your browser, there is no
                cookie in LeakZero.")}}
            </p>
        </div>

        <div id="privacy" class="side-title">
            <h2>{{_('More Privacy')}}</h2>

            <p>{{_('We have provided other tools to protect privacy in our ')}}<a href="https://www.entropage.com">{{_('home')}}</a>
        </div>

        <div id="contact" class="side-title">
            <h2>{{_('Contact us')}}</h2>
            <ul>
                <li>{{_('Wechat: mijixiaoer')}}</li>
                <li>{{_('Email: contact@entropage.com')}}</li>
            </ul>
        </div>

        <div id="faq" class="faq side-title">
            <h2>{{_('FAQ')}}</h2>

            <h3>{{_('Can I only use baidu to do the search?')}}</h3>
            <p>{{_('You can use !baidu + keyword to do the search, and also for other engines you can do the search in the same way')}}</p>
            <h3>{{_('Is there any function for LeakZero Search?')}}</h3>
            <p>{{_('We also provide instant answers which originates from Searx, So you can use random function like random int to generate a random int')}}</p>
        </div>
    </div>
</div>


<!-- <div {% if rtl %} dir="ltr"{% endif %}>
    <h1><a href="{{ url_for('index') }}">{{_('LeakZero Search')}}</a></h1>

    <p>{{_("LeakZero Search never collects users' personal information, this is the cornerstone of our privacy policy.  Bellow of this page will further explain that you need to know exactly.")}}
    </p>
</div>

<hr />

<h2>{{_('Things you should care')}}</h2>

<p>{{_("Note: The details may change in the future, please check back frequently for updates.")}}
</p>
<ul>
    <li>{{_("LeakZero Search does not track or collect users' search keywords in any user identifiable way.")}}</li>
    <li>{{_('LeakZero Search does not reserve any logs which could be connected to personally identifiable information (PII).')}}</li>
    <li>{{_('LeakZero Search does not have any online account which could be connected to users.')}}</li>
    <li>{{_('LeakZero Search does not have any cookie which could track users.')}}</li>
    <li>{{_('LeakZero Search protect you from your ISP by using https.')}}</li>
    <li>{{_('LeakZero Search does not clear your search logs in your browser, you need to clean it by yourself.')}}</li>
</ul>

<h2>{{_('Other information:')}}</h2>

<p>{{_('The framework of LeakZero Search is based on Searx, There are many other public ')}}<a href="https://github.com/asciimoo/searx/wiki/Searx-instances">{{_('Searx instances')}}</a>{{_('you could use.')}}
</p> -->

{% endblock %}
 -->
